*{
    font-family: italianno
}

body{
    background-image: url(kepek/fooldal_backgound.png);
    width: auto;
    margin: none;
}

header{
    background-color: rgba(93, 76, 76, 1);
    color: white;
    padding: 8px;
    padding-top:  16px;
    margin: auto;
    height: 100px;
    text-align: center;
}

nav{
    padding: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

a{
    color: white;
    background-color: brown;
    text-decoration: none;
    border: 2px solid brown;
    border-radius: 100%;
    padding: 15px;
    margin: auto
}